.jumbotron {
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #73f569;
}
footer {
  padding: 10px 10px 0 10Px;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #b52400;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: white;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-addres-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
