@yellow: #d6d302;
@red: #b52400;
@green: #73f569;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
	background-color: @green;
	color: black; 
	.margenes(50px, 20px);
}
footer {
	padding: 10px 10px 0 10Px;
	background-color: @red;
	.margenes(50px, 0px);
}

.card-hotel {
	flex: 1 200px;
	.margenes(50px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-addres-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}