@yellow: #d6d302;
@red: #b52400;
@green: #73f569;

.margenes(@top: 0px, @bottom: 0px, @bcol: blue){
	margin-top: @top;
	margin-bottom: @bottom;
	background-color: @bcol;
}

.jumbotron{
	color: black; 
	.margenes(50px, 20px, @red);
}
footer {
	padding: 10px 10px 0 10Px;
	.margenes(50px, 0px, @red);
}

.card-hotel {
	flex: 1 200px;
	.margenes(50px, 0px, white);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-addres-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}